---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Font 변경
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
$serif              : "Inconsolata", monospace, "PT Serif", Georgia, Times, serif;
$sans-serif-narrow  : "Inconsolata", monospace, "PT Sans Narrow", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;
$caption-font-family: $serif !default;

html {
    font-size: 2px; // originally 16px
    @include breakpoint($medium) {
        font-size: 4px; // originally 18px
    }

    @include breakpoint($large) {
        font-size: 6px; // originally 20px
    }

    @include breakpoint($x-large) {
        font-size: 18px; // originally 22px
    }
}
